<section id="home" class="contentpage">
  <div class="menuBox">
    <nav class="menu">
      <% @models.each do |model| %>
      <!-- <a href="https://prime.lada.ru<%= model.link %>" target="_blank" class="iteam"><%= model.model %></a> -->
      <a href="/models/<%= model.url %>" class="iteam"><%= model.model %></a>
      <% end %>
    </nav>
  </div>
  <div class="slider">
    <ul class="sliderwrapper">
      <% sort_null(@sliders).each do |slide| %>
      <li class="slide" style="background-image: url('<%= slide.gallery.url %>');">
        <% if slide.slave != '' %>
          <div class="VideoYoutube"><iframe width="100%" height="100%" src="<%= slide.slave %>?rel=0&hd=1&controls=0&modestbranding=0&autoplay=1&&showinfo=0&start=8&mute=1&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" controls="0"></iframe></div>
        <% end unless slide.slave.nil? if Rails.env.production? %>
        <div class="slideContent">
          <div class="textBox">
            <div class="word1"><%= slide.word1.html_safe %></div>
            <div class="word2"><%= slide.word2.html_safe %></div>
            <p><%= slide.description.html_safe %></p>
            <a href="<%= slide.url %>" target="_blank" class="buttonA"><%= slide.link %></a>
            <div class="buttonB"><span>НАПИСАТЬ НАМ В</span>
            <div class="socials">
              <a href="https://vk.com/lipetskprime" class="vk" target="_blank" ></a>
              <a href="https://www.instagram.com/prime_lipetsk" target="_blank" class="insta"></a>
              <a href="https://www.youtube.com/channel/UCNusqHRWAdF75CUioreV8HQ" class="youtube" target="_blank" ></a>
              <a href="https://www.facebook.com/lipetskprime" class="fb" target="_blank" ></a>
              <a href="https://ok.ru/lipetskprime" class="ok" target="_blank" ></a>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <div class="prev-btn"></div>
    <div class="next-btn"></div>
  </div>
</section>
<section id="price" class="contentpage">
  <div class="contentpage_box">
        <h1>ВЫБИРАЙ СВОЮ LADA</h1>
        <div class="tabs">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1" title="Вкладка 1">Все автомобили</label>
         
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2" title="Вкладка 2">В наличии</label>
         
            <span id="content-tab1">
                <div class="cars">
                    <% @models.each do |model| %>
                      <div class="car" style="background-image: url(<%= model.image.url %>)">
                        <a href="/models/<%= model.url %>"><h3><%= model.model %></h3></a>
                        <div class="price"><span>от</span> <%= model.product.try(:price) if model.product %> <i class="fa fa-rub" style="font-size: 13pt;"></i></div>
                        <% model.modifications.each do |modification| %>
                          <a href="<%= modification_link(modification.model.url, modification.anchor_name ) %>" class="iteam"><%= modification.name %></a>
                        <% end %>
                        <div class="sashka"></div>
                        <a href="https://prime.lada.ru/ds/test-drive/" target="_blank"  class="buttonC">Пройти тест-драйв</a>
                        <a href="https://prime.lada.ru/ds/form_credit.php" target="_blank"  class="buttonC">Купить в кредит</a>
                        <a href="#" onclick="return false;" class="buttonC popupOpen">Забронировать</a>
                      </div>
                    <% end %>
                  </div>
            </span>  
            <span id="content-tab2">
                Раздел в разработке
            </span> 
                <div class="tradein">
                  <h4>АВТО с ПРОБЕГОМ <span>TRADE-IN</span></h4>
                    <!-- <a href="https://www.avito.ru/user/a4142adef5f13edfe5c491d4d7a2009a/profile?id=1876463581&src=item" target="_blank" class="buttonA">Выбрать автомобиль</a> -->
                    <a href="/tradein" class="buttonA">Выбрать автомобиль</a>
                    <a href="https://prime.lada.ru/ds/cars/evaluation/" target="_blank" class="buttonB">Оценить автомобиль</a>
                </div>
        </div>
  </div>
</section>

<section id="super" class="contentpage">
    <% @products.each_with_index do |product,i| %>
    <div class="superPuper slide<%=i+1%>" style="background-image:linear-gradient(270deg, rgba(76, 97, 107, 0.8) 0.01%, rgba(76, 97, 107, 0) 97.71%), url(<%= product.gallery.url %>);" time="<%= "#{product.finish.month} #{product.finish.day} #{product.finish.year}" %> 20:00:00 GMT+03:00">
      <div class="contentpage_box">
        <div class="right">
            <h2><%= product.title %></h2>
            <p><%= product.description%></p>
            <div class="price">
              <h3>Купить <%= product.title %> в Липецке по цене от <span><%= product.price %></span> <i class="fa fa-rub"></i></h3>
            </div>
            <div class="superBlock">
                <div class="vigoda">Выгода до <span><%= product.bonus %></span> <i class="fa fa-rub"></i></div>
                <div class="ost">осталось</div>
                  <div class="countdown">
                      <div class="days">Дней <span></span></div>
                      <div class="hours">Часов <span></span></div>
                      <div class="minutes">Минут <span></span></div>
                      <div class="seconds">Секунд <span></span></div>
                  </div>
              </div>
              <a href="/models/<%= product.model.url if product.model %>" class="buttonA">Цены на <%= product.title %></a>
              <a href="<%= product.try(:link) %>" class="buttonB">Подробнее о модели</a>
          </div>
      </div>
    </div>
    <% end %>
</section>

<section id="about" class="contentpage">
  <div class="contentpage_box">
      <div class="leftBox">
        <h2>Автосалон ПРАЙМ</h2>
        <p>Автосалон ПРАЙМ – официальный дилер LADA в Липецке с декабря 2014 г. За это время ПРАЙМ занял лидирующее место среди автосалонов г. Липецк. LADA – это значит ПРАЙМ! А ПРАЙМ – это стандарт качества обслуживания клиентов, высокий уровень сервиса автомобилей и широкий набор услуг.</p>
        <br><br>
        <a href="/pages/ur" class="usluga u01">Юридическим лицам</a>
        <a href="/pages/insurance" class="usluga u02">Страхование</a>
        <a href="/pages/coffee" class="usluga u03">Зона кафе</a>
        <a href="/pages/cameras" class="usluga u04">Камеры автосалона</a>
        <a href="/pages/comfort" class="usluga u05">Зона отдыха</a>
        <a href="/pages/credit" class="usluga u06">Кредитование</a>
      </div>
      <div class="rightBox"></div>
  </div>
</section>

<%= render 'main/qwiz' %>