<section id="carhome" class="contentpage">
  <div class="VideoYoutube"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/Al-P1pGBx8A?rel=0&hd=1&controls=0&modestbranding=0&autoplay=1&&showinfo=0&start=8&mute=1&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" controls="0"></iframe></div>
  <div class="contentpage_box">
    <h1>Авто с пробегом</h1>
  </div>
</section>


<section id="tradein" class="contentpage">
  <div class="contentpage_box">
    <div class="tradein-filters">
      <form method="get">
      <h2>Фильтры</h2>
      <h3>Марка</h3>
      <div class="fields-box" id="js-marka-select">
        <select name="bymodel">
          <% if @bymodel %>
            <option disabled><%= @bymodel %></option>
            <option selected="selected" value="<%= @bymodel %>"></option>
          <% else %>
            <option disabled>Выберите марку</option>
            <option selected="selected" value=""></option>
          <% end %>
          <% @models.each do |model| %>
            <% unless model==@bymodel %>
            <option value="<%= model %>"><%= model %></option>
            <% end %>
          <% end %>
        </select>
      </div>

      <h3>Модель</h3>
      <div class="fields-box <%= 'invisible' if @lineups.count<=0 %>" id="js-lineup-select">
        <select name="bylineup">
          <% if @bylineup %>
            <option disabled><%= @bylineup %></option>
            <option selected="selected" value="<%= @bylineup %>"></option>
          <% else %>
            <option disabled>Выберите модель</option>
            <option selected="selected" value=""></option>
          <% end %>
          <% @lineups.each do |lineup| %>
            <% unless lineup==@bylineup %>
            <option value="<%= lineup %>"><%= lineup %></option>
            <% end %>
          <% end %>
        </select>
      </div>

<!--       <h3>Двигатель <%= @lineup %></h3>
      <label class="custom-checkbox">
        <input type="checkbox" value="value-1"><span>Indigo</span>
      </label>

      <h3>Привод</h3>
      <label class="custom-checkbox">
        <input type="checkbox" value="value-1"><span>Indigo</span>
      </label>

      <h3>Трансмиссия</h3>
      <label class="custom-checkbox">
        <input type="checkbox" value="value-1"><span>Indigo</span>
      </label> -->

      <h3>Цена</h3>
      <div class="filter-price">
          <div id="filter__range_price" pricemax="<%=@pricemin%>" pricemin="<%=@pricemax%>"></div>
          <input type="HIDDEN" value="" name="pricemax" id="priceMax">
          <input type="HIDDEN" value="" name="pricemin" id="priceMin">
      </div>

<!--       <h3>Год</h3>
      <div class="filter-price">
          <div id="filter__range_year" yearmax="2020" yearmin="1990"></div>
          <input type="HIDDEN" value="" name="yearmax" id="yearMax">
          <input type="HIDDEN" value="" name="yearmin" id="yearMin">
      </div>

      <h3>Пробег</h3>
      <div class="filter-price">
          <div id="filter__range_km" kmmax="10000" kmmin="3000"></div>
          <input type="HIDDEN" value="" name="kmmax" id="kmMax">
          <input type="HIDDEN" value="" name="kmmin" id="kmMin">
      </div>

      <h3>Двигатель</h3>
      <div class="filter-price">
          <div id="filter__range_dvi" dvimax="4" dvimin="1"></div>
          <input type="HIDDEN" value="" name="dvimax" id="dviMax">
          <input type="HIDDEN" value="" name="dvimin" id="dviMin">
      </div> -->
      <input type="submit" value="ОТПРАВИТЬ" class="buttonA">
    </form>
    </div>
    <div class="tradein-cars">
      <div class="fields-box">
        <a class="refresh" href="/tradein">Сбросить все</a>
        <div class="orderby min">Сортировка: по цене</div>
      </div>
      <div class="tradein-cars-wrapper">
        <% @tradein_cars.each do |element| %>
        <% car = element.modification %>
        <%= link_to element.modification, class: 'tradein-car-iteam' do %>          
          <div class="car-iteam-photo"><%= image_tag car.car_images.first.image.url %></div>
          <h3><%= "#{car.model} #{car.lineup}"%></h3>
          <div class="car-iteam-desc"><%= "#{car.case.capitalize}, #{car.capacity}, #{car.transmission}, <br> #{number_to_currency(car.mileage, precision: 0, unit: "")} км, #{car.year} г.".html_safe %></div>
          <div class="car-iteam-price"> <%= number_to_currency(car.price, precision: 0, unit: "") %> <span>₽</span></div>
          <div class="buttonA">Подробнее</div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
