<% @page_options = {
  :title => @service_sale.title,
  :description => "#{@service_sale.title} - #{@service_sale.slave}"
} %>

<%= render 'layouts/lineup' %>
<%= render 'service/main/head' %>

<section id="intro" class="small"></section>
<section class="service uslugi-small">
  
</section>
<section class="service service-uslugi">
  <div class="contentpage_box">
    <h1><%=@service_sale.title %></h1>
    <div class="text-center">
      <div class="plus">
      <%=@service_sale.slave%>
      </div>
    </div>
    <img src="<%= @service_sale.image.url if @service_sale.image %>"/>
      <div class="dateBig">
      <%=@service_sale.link%>
      </div>
    <div class="general-text">
      <%=@service_sale.description.html_safe if @service_sale.description %>
    </div>

    <div class="general-phone">
      Проконсультируем по любым вопросам,<br>связанными с ремонтом вашего автомобиля
      <span>(4742) 500-777</span>
</section>

<%= render partial: 'service/main/order', locals: { class_: 'white' } %> 

<section id="contacts" class="service">
  <div class="contentpage_box">
      <h2>Контакты</h2>
      <div class="contacts-wrapper">
        <div class="phone"><%= @phone.html_safe if @phone%></div>
        <div class="mail"><%=  @email.html_safe if @email%></div>
        <div class="place"><%= @place.html_safe if @place%></div>
      </div>
      <%= @map.html_safe if Rails.env.production? %>
  </div>
</section>

<footer>
  <div class="txtt">
    Все права защищены © 2006–2020, ПРАЙМ, официальный дилер LADA
  </div>
  <a href="/pages/vakansi">Вакансии</a>
  <a href="/pages/politics">Политика</a>
  <a href="#" onclick="return false;" class="popupOpen">Обратная связь</a>
</footer>
