<h3>Запись на сервис</h3>
<p>
  <strong>Имя</strong>: <%= @message.name %>
  <strong>Телефон</strong>: <%= @message.phone %>
</p>
<ul>
  <li><strong>Имя</strong>: <%= @message.name %></li>
  <li><strong>Телефон</strong>: <%= @message.phone %></li>
  <li><strong>Модель</strong>: <%= @message.model %></li>
  <li><strong>Год</strong>: <%= @message.model %></li>
  <li><strong>Пробег</strong>: <%= @message.mileage %></li>
  <li><strong>Вид работ</strong>: <%= @message.work %></li>
</ul>
