<%= form_with(model: modification, local: true) do |form| %>
  <% if modification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modification.errors.count, "error") %> prohibited this modification from being saved:</h2>

      <ul>
      <% modification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :second_name %>
    <%= form.text_field :second_name %>
  </div>

  <div class="field">
    <%= form.label :anchor_name %>
    <%= form.text_field :anchor_name %>
  </div>

  <div class="field">
    <%= form.label :link_about %>
    <%= form.text_field :link_about %>
  </div>

  <div class="field">
    <%= form.label :link_complectations %>
    <%= form.text_field :link_complectations %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :show %>
    <%= form.check_box :show %>
  </div>

  <div class="field">
    <%= form.label :sort %>
    <%= form.number_field :sort %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
