- if modification.modification_images.first.try(:image)
  - img = modification.modification_images.first.try(:image).url(:medium)
- else
  - img = modification.model.image.url

%section#laning.contentpage.posadka
  .contentpage_box
    %h1
      Новая #{modification.name}
    .general-info
      .info-line
        .line-left В наличии:
        .line-right
          = modification.complectation_colors.count
          шт.
      .info-line
        .line-left
          Цвета:
        .line-right
          - modification.colors.each do |color|
            .colors.js-colors{ :style => 'background-color: #'+color.rgb, "color-id" => color.id, "modification-id" => modification.id }
      .info-sale.posadka
        %span от
        = modification.complectations_minimum_price
        %span ₽
      %a.buttonA.popupOpen{:href => "#"} Получить предложение
      %a.buttonA.price.popupOpen{:href => "https://prime.lada.ru/ds/cars/#{modification.model.url}/#{modification.anchor_name}/print_prices.pdf", :target => "_blank"} Прайс-лист
      %a.buttonB.posadka{:href => "#"}
        в Кредит от #{number_to_currency(modification.credit_day, precision: 0, unit: "")} ₽ / день
    .slave-info
      .car-image.complectation-img
        - if modification.modification_images.first.try(:image)
          = image_tag modification.modification_images.first.try(:image).url, class: 'ml'
        - else
          = image_tag modification.model.image.url, class: 'sm'
