- @page_options = { :title => "Новая ЛАДА #{@modification.name} | Комплектации и цены на #{@modification.name}", :description => @model.product.slave } if @model.product

= render 'modifications/head', modification: @modification

= render 'filters/newcars', models: @models, model: @model, modification: @modification, filter: @modification

%section#cars.contentpage
  .contentpage_box
    .cars-box
      %h2
        Комплектации и цены ЛАДА
        = @modification.name

      - sort_complectations(@modification.complectations).each do |complectation|
        %a.car-iteam{ :href => "/complectations/"+complectation.id.to_s, :complect => "#"+complectation.name }
          .car-title
            .price-old
              .price
                = number_to_currency(complectation.price_old, precision: 0, unit: "")
                %span.ru-rub
              .line
                .subline
          .car-price
            = number_to_currency(complectation.price_new, precision: 0, unit: "") 
            %span.ru-rub ₽
          .car-image
            - if @modification.modification_images.first.try(:image)
              = image_tag @modification.modification_images.first.try(:image).url(:medium), class: 'ml'
            - else
              = image_tag @model.image.url, class: 'sm'
          .car-sale
            Скидка до 
            = number_to_currency(complectation.diff_price, precision: 0, unit: "") 
            %span.ru-rub ₽
          .car-modification
            .mod-line
              .mod-left В наличии:
              .mod-right
                - if complectation.complectation_colors.count > 0
                  = complectation.complectation_colors.count
                - else
                  УТОЧНИТЬ
            .mod-line
              .mod-left Комплектация:
              .mod-right
                = complectation.name
            .mod-line
              .mod-left Модификация:
              .mod-right
                = complectation.subname
