<p id="notice"><%= notice %></p>

<p>
  <strong>Secure:</strong>
  <%= @property.secure %>
</p>

<p>
  <strong>Interier:</strong>
  <%= @property.interier %>
</p>

<p>
  <strong>Comfort:</strong>
  <%= @property.comfort %>
</p>

<p>
  <strong>Extarier:</strong>
  <%= @property.extarier %>
</p>

<p>
  <strong>Link:</strong>
  <%= @property.link %>
</p>

<p>
  <strong>Url:</strong>
  <%= @property.url %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @property.sort %>
</p>

<p>
  <strong>Show:</strong>
  <%= @property.show %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
