<% @page_options = {
  :title => @service_work.title,
  :description => 'Сервисный центр ЛИПЕЦК ЛАДА ПРАЙМ.'
} %>

<%= render 'layouts/lineup' %>
<%= render 'service/main/head' %>

<section id="intro" class="small"></section>
<section class="service uslugi-small">
  <div class="contentpage_box">
    <% @service_jobs.each do |job| %>
      <a href="/service/jobs/<%= job.link %>" style="background-image: url('<%= job.image.url if job.image %>');" class="uslugi-small-iteam u05 <%= "selected" if @service_job.link == job.link %>"><%= job.title %></a>
    <% end %>
  </div>
</section>
<section class="service service-uslugi">
  <div class="contentpage_box">
    <h1><%=@service_work.title %></h1>
    <div class="sub-uslugi-box">

    <% @service_works.each do |work| %>
      <a href="<%= '/service/jobs/'+@service_job.link+'/works/'+work.link %>" class="uslugi-iteam u0"><%= work.title %></a>
    <% end %>

    </div>
    <div class="general-text">
      <%=@service_work.description %>
    </div>

    <div class="general-phone">
      Проконсультируем по любым вопросам,<br>связанными с ремонтом вашего автомобиля
      <span><a href="tel:+74742500777">(4742) 500-777</a></span>
    </div>

</section>

<%= render 'service/main/order' %>

<%= render 'service/sales/index'%>

<%= render 'service/main/footer' %>


