= form_for @tradein_car_image do |f|
  - if @tradein_car_image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tradein_car_image.errors.count, "error")} prohibited this tradein_car_image from being saved:"
      %ul
        - @tradein_car_image.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :tradein_car
    = f.text_field :tradein_car
  .actions
    = f.submit 'Save'
