%h1 Listing service_jobs

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Slave
      %th Link
      %th Url
      %th Sort
      %th Show
      %th
      %th
      %th

  %tbody
    - @service_jobs.each do |service_job|
      %tr
        %td= service_job.title
        %td= service_job.description
        %td= service_job.slave
        %td= service_job.link
        %td= service_job.url
        %td= service_job.sort
        %td= service_job.show
        %td= link_to 'Show', 'jobs/'+service_job.link+'/works'
        %td= link_to 'Edit', edit_service_job_path(service_job)
        %td= link_to 'Destroy', service_job, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Job', new_service_job_path
