<%= render 'layouts/lineup' %>

<%= render 'service/main/head' %>

<section id="intro" class="small"></section>
<section class="service uslugi-small">
  <div class="contentpage_box">
    <% @service_jobs.each do |job| %>
      <a href="/service/jobs/<%= job.link %>" style="background-image: url('<%= job.image.url if job.image %>');" class="uslugi-small-iteam u05 <%= "selected" if @service_job.link == job.link %>"><%= job.title %></a>
    <% end %>
  </div>
</section>

<section class="service service-uslugi">
  <div class="contentpage_box">
    <h1><%= @service_job.title %></h1>
    <div class="sub-uslugi-box">
      <% @service_job.works.each do |work| %>
      <a href="<%= '/service/jobs/'+@service_job.link+'/works/'+work.link %>" class="uslugi-iteam u0"><%= work.title %></a>
      <% end %>
    </div>
    <div class="general-text">
      <%= @service_job.description %>
    </div>
    <div class="general-phone">
      Проконсультируем по любым вопросам,<br>связанными с ремонтом вашего автомобиля
      <span>(4742) 500-777</span>
    </div>
  </div>
</section>

<%= render 'service/main/order' %>

<%= render 'service/sales/index'%>

<section id="contacts" class="service">
  <div class="contentpage_box">
      <h2>Контакты</h2>
      <div class="contacts-wrapper">
        <div class="phone"><%= @phone.html_safe if @phone%></div>
        <div class="mail"><%=  @email.html_safe if @email%></div>
        <div class="place"><%= @place.html_safe if @place%></div>
      </div>
      <%= @map.html_safe if Rails.env.production? %>
  </div>
</section>

<footer>
  <div class="txtt">
    Все права защищены © 2006–2020, ПРАЙМ, официальный дилер LADA
  </div>
  <a href="/pages/vakansi">Вакансии</a>
  <a href="/pages/politics">Политика</a>
  <a href="#" onclick="return false;" class="popupOpen">Обратная связь</a>
</footer>


