<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= render 'layouts/ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application'  %>
    
    <% if @page_options %>
      <title><%= @page_options[:title] %> | Официальный дилер ЛАДА в Липецке - ПРАЙМ. Покупка новых автомобилей ВАЗ, АвтоВАЗ, ЛАДА!</title>
      <meta name="title" content="<%= @page_options[:title] %> | Официальный дилер ЛАДА в Липецке - ПРАЙМ. Покупка новых автомобилей ВАЗ, АвтоВАЗ, ЛАДА!">
      <meta name="description" content="<%= @page_options[:description] %> | Официальный дилер ЛАДА в Липецке - ПРАЙМ. Покупка новых автомобилей ВАЗ, АвтоВАЗ, ЛАДА! Новые машины ЛАДА в наличии. Весь модельный ряд ЛАДА в автосалоне ПРАЙМ город Липецк. Телефон: +7 (4742) 500-777">
    <%else%>
      <%= @description_and_title.html_safe  %>
    <%end%>
    

    <%= @keywords_and_other.html_safe  %>

  </head>
  <body>
    <%= render 'layouts/lineup' %>
    <header class="header">
      <div class="contentpage_box">
        <a href="/" class="logoBlock"></a>
        <a href="tel:+7 <%= @phone.html_safe if @phone%>" class="phone">
          <%= @phone.html_safe if @phone%>
          <span>горячая линия</span>
        </a>
        <div class="connect">
            <a href="https://wa.me/79161457988?text=Добрый день!" class="whatsapp"  target="_blank" ></a>
            <a href="viber://add?number=79161457988" class="viber"  target="_blank" ></a>
            <a href='tg://resolve?domain="PRIMEDC"' class="telegram"  target="_blank" ></a>
        </div>
        <div id="location" class="location">
          <div class="city">г. Липецк</div>
          <span><%= @place.html_safe if @place %></span>
        </div>
      </div>
       <a class="menuiBlock" href="/contacts" onclick="return bigMenu(this);"><span></span></a>
    </header>

    <%= yield %>

    <%= @footer.html_safe if Rails.env.production?%>
    <section id="contacts" class="contentpage">
      <div class="contentpage_box">
          <h2>Контакты</h2>
          <div style="overflow:hidden;margin:0 0 20px 0;">
            <div class="phone"><a href="tel:+7<%= @phone.html_safe %>"><%= @phone.html_safe if @phone%></a></div>
            <div class="mail"><%=  @email.html_safe if @email%></div>
            <div class="place"><%= @place.html_safe if @place%></div>
          </div>
          <%= @map.html_safe if Rails.env.production? %>
      </div>
    </section>

    <footer>
      <div class="txtt">
        Все права защищены © 2014–<%= Time.now.year %>, ПРАЙМ, официальный дилер LADA
      </div>
      <a href="/pages/vakansi">Вакансии</a>
      <a href="/pages/politics">Политика</a>
      <a href="#" onclick="return false;" class="popupOpen">Обратная связь</a>
    </footer>

    <div class="bigMenu">
        <a class="bigMenu_list order" href="#order" onclick="pageTo('order');">Заказать</a>
        <a class="bigMenu_list" href="#service" onclick="pageTo('service');">Услуги</a>
        <a class="bigMenu_list" href="#projects" onclick="pageTo('projects');">Работы</a>
        <a class="bigMenu_list" href="#contacts" onclick="pageTo('contacts');">Контакты</a>
    </div>

    <%= render 'messages/form' %>

  </body>
</html>
