<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= @description_and_title.html_safe  %>

    <%= @keywords_and_other.html_safe  %>

  </head>
  <body>
    <%= yield %>
    <%= @footer.html_safe %>
  </body>
</html>
